<div class="row">
  <div class="col-md-12">
    <h4 class="list-group-item-heading clickable" {{action "showDetails" item}}>{{item.name}} - ${{currency item.cost}}</h4>
  </div>
  <div class="col-md-4">
    {{#if showDetails}}
      <img src={{item.picture}} alt={{item.name}}>
    {{/if}}
    {{#if showDetails}}
      {{#if (not notInCart)}}
      <button type="button" class="btn btn-default" {{action 'removeFromCart' item}}>Remove From Cart</button>
      {{/if}}
    {{/if}}
  </div>
  <div class="col-md-4">
    {{#if showDetails}}
      <p class="list-group-item-text">{{item.description}}</p>
    {{/if}}
  </div>
  <div class="col-md-4">
    {{#if showDetails}}
      {{#if (and notInCart item.quantity)}}
        <button type="button" class="btn btn-default" {{action 'addToCart' item}}>Add to Cart</button>
      {{else}}
        <h2>Sold Out!</h2>
      {{/if}}
      <hr>
      <h4 class="list-group-item-text">Sold by {{item.seller.username}}</h4>
      <h5 class="list-group-item-text">{{item.quantity}} remaining</h5>
    {{/if}}
  </div>
</div>
