<div class="row">
  <div class="col-md-7">
    <ul class="list-group">
      {{#each sortedItems as |item|}}
        {{item-tile class="list-group-item" item=item notInCart=notInCart detailsToggle="detailsToggle"}}
      {{/each}}
    </ul>
    {{#if showUpdateForm}}
      <hr>
      {{edit-item item=itemToEdit updateItem="updateItem"}}
    {{/if}}
    {{google-map owner=owner}}
  </div>
  <div class="col-md-5">
    <h2>Cart Total: ${{currency shoppingCart.subTotal}}</h2>
    <hr>
    {{#if (eq currentUser.client owner)}}
      {{#if owner.seller}}
        {{add-item user=owner addItem="addStoreItem"}}
      {{/if}}
      <hr>
      <h4>Buying History</h4>
      {{#each owner.buyingHistory as |item|}}
        {{item-tile class="list-group-item" item=item notInCart=true}}
      {{/each}}
      <hr>
      <h4>Account Management</h4>
      {{account-management user=currentUser.client editUser="editUser"}}
    {{/if}}
  </div>
</div>
